{% extends 'base.html' %}

{% block header %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">ブログ</h1>
        <p class="lead">記事一覧です。</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
        <a href="{% url 'create'  %}" class="btn btn-primary">新規作成</a>
    <br>
    <br>  
    {% for item in object_list %}
    <div class="card">
        <h5 class="card-header">{{ item.category }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.postdate }}</p>
          <a href="{% url 'detail' item.pk %}" class="btn btn-primary">詳細へ</a>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}
